<h1> Christopher Quan </h1>
<%= image_tag("photo.jpg")%>
<p id = "where"> I am from Sacramento. </p>
<p> I am a senior. </p>
<p id = "fact"> I like to hike. </p>
<p id = "excited"> I am exicted to learn how to make web apps. </p>
